body {
  background-color: aliceblue;
}

header {
  max-height: 90px;
  margin-bottom: 20px;
  background-color: #fcae1e;
  border-bottom: #7a3803 solid 2px;
}

.dropdown-item {
  color:#FCAE1E;
}

.dropdown, ul{
  background-color: #7A3803 !important;
}

.dropdown{
  border-radius: 10%;
}

main{
  margin-top: 10%;
}
img {
  width: 60px;
  height: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile {
  text-align: right;
  left: auto !important;
  right: 0 !important;
}

h1{
  font-family:'Varela Round',sans-serif;
  color:#7A3803;
}

h2,h3,h4,h5,li a,button {
  font-family: 'Anek Kannada', sans-serif !important;
  color:#FCAE1E !important;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  padding: 10px 20px;
  font-size: 18px;
}

#main-content{
  width:80%;
}

.row{
  display:flex;
  margin-bottom: 5%;
  justify-content: space-evenly;
}

#card-inner{
  height: 250px;
  padding:0 5%;
}

.card{
  height:100%;
  width: 100%;
  background-color: #7A3803;
}

.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

#data{
  height:50px;
}

#event{
  height:100px;
}

.more{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #7A3803;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close, #change_text_on_click, #note_to_change, #change_of_desc, #status{
  margin-bottom: 3%;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#status{
  color:black;
}

