body {
    font-family: Arial, sans-serif;
}

.calendar-container {
    width: 80%;
    margin: 0 auto;
}

.buttons-container {
    text-align: center;
    margin: 20px 0;
}

.event-form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-form h2 {
    margin-top: 0;
}

.event-form form {
    display: flex;
    flex-direction: column;
}

.event-form input,
.event-form textarea,
.event-form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.event-form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.event-form button:hover {
    background-color: #218838;
}

.styled-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

header {
    max-height: 90px;
    margin-bottom: 20px;
}

img {
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    text-align: right;
    left: auto !important;
    right: 0 !important;
}

.no-events {
    text-align: center;
    font-size: 18px;
    color: #888;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.events-table th, .events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.events-table th {
    background-color: #f2f2f2;
    color: black;
}

.events-table .bold-header {
    font-weight: bold;
}

.events-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.events-table tr:hover {
    background-color: #ddd;
}
