body {
    font-family: Arial, sans-serif;
}

.calendar-container {
    width: 80%;
    margin: 0 auto;
}

.event-form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-form h2 {
    margin-top: 0;
}

.event-form form {
    display: flex;
    flex-direction: column;
}

.event-form input,
.event-form textarea,
.event-form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.event-form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.event-form button:hover {
    background-color: #218838;
}
.styled-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}