body {
    font-family: Arial, sans-serif;
    background-image: url('../icons/p2.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #7a3803;
}

header .profile-title {
    font-size: 1.5em;
    margin: 0;
    color: #7a3803;
}

.profile-info {
    margin-top: 30px;
}

.info {
    margin-bottom: 20px;
}

.info label {
    font-weight: bold;
    display: block;
    color: #7a3803;
    margin-bottom: 5px;
}

.info input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.info input:focus {
    border-color: #7a3803;
    outline: none;
}

button.styled-button {
    padding: 10px 20px;
    background-color: #7a3803;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button.styled-button:hover {
    background-color: #954f08;
    transform: scale(1.05);
}

.status-message {
    margin-top: 10px;
    color: #dc3545;
}

.change-password {
    margin-top: 20px;
}

.change-password h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #7a3803;
}

.change-password .info input {
    padding: 10px;
}

.change-password button.styled-button {
    margin-top: 10px;
}


.info label {
    position: relative;
}

.info label::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #7a3803;
    transition: width 0.3s;
}

.info input:focus + label::after {
    width: 100%;
}

.error-message {
    color: #dc3545;
    font-size: 0.9em;
    margin-top: 5px;
}


.error-message.animate-shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

button.styled-button.pulse {
    animation: pulse 1s infinite;
}
