html {
  height: 100%;
}

body {
  background-color: aliceblue;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  font-family:'Varela Round',sans-serif;
}

h5,a,button, input {
  font-family: 'Anek Kannada', sans-serif !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width:100%;
  margin:0;
  padding:0;
}

header {
  max-height: 90px;
  margin-bottom: 20px;
}
img {
  width: 80px;
  height: 80px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile {
  text-align: right;
  left: auto !important;
  right: 0 !important;
}

main{
  margin-top: 10%;
}

.greeting{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.desc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content{
  margin-top:5%;
  width:80%;
}

.row{
  display:flex;
  margin-bottom: 5%;
  justify-content: space-evenly;
}

#card-inner{
  height: 250px;
  padding:0 5%;
}

.card{
  height:100%;
  width: 100%;
}

.card-title{
  display: flex;
  justify-content: center;
}

#data{
  height:50px;
}

.more{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

footer{
  margin-top:auto;
}