html {
  height: 100%;
}

body {
  background-color: aliceblue;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Varela Round", sans-serif;
  color: #7a3803;
}

h5,
a,
button,
input {
  font-family: "Anek Kannada", sans-serif !important;
}

.dropdown-item {
  color: #fcae1e;
}

.dropdown,
ul {
  background-color: #7a3803 !important;
}

.dropdown {
  border-radius: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  padding: 10px 20px;
  font-size: 18px;
}

header {
  max-height: 90px;
  background-color: #fcae1e;
  border-bottom: #7a3803 solid 2px;
}

img {
  width: 60px;
  height: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  text-align: right;
  left: auto !important;
  right: 0 !important;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1%;
  margin-bottom: 1%;
}

.typing-effect {
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 5s steps(36), blink 0.75s step-end 1;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 36ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#main-content {
  margin-top: 2%;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

#card-inner {
  height: 250px;
  padding: 0 5%;
}

.card {
  height: 100%;
  width: 100%;
  background-color: #7a3803;
}

.card-title {
  display: flex;
  justify-content: center;
  color: #fcae1e;
}

#data {
  height: 50px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  margin-top: auto;
  background-color: aliceblue;
  margin-bottom: 10px;
}

footer button {
  background-color: #7a3803;
  border-radius: 10%;
}
